version: '3.3'

services:
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
    ports:
      - 8080:8080
    depends_on:
      - app
    logging:
      driver: "json-file"
      options:
        max-size: 100m
        max-file: "3"
  app:
    image: fireflyiii/core:latest
    restart: always
    volumes:
      - firefly_iii_upload:/var/www/html/storage/upload
    env_file: .env
    expose:
      - 8080
    # ports:
    #  - 8080:8080
    depends_on:
      - db
    logging:
      driver: "json-file"
      options:
        max-size: 100m
        max-file: "3"
  db:
    image: postgres  
    hostname: fireflyiiidb
    restart: always
    environment:
      - POSTGRES_USER=firefly
      - POSTGRES_PASSWORD={PASSWD}
      - POSTGRES_DB=firefly
      - PGDATA=/var/lib/postgresql/data/pgdata
    volumes:
      - firefly_iii_db:/var/lib/postgresql/data/pgdata

volumes:
   firefly_iii_upload:
   firefly_iii_db:
